.products {
  padding: 10px;
  background-color: white;
}
.products {
  padding-top: 80px;
}
.products__head {
  margin-bottom: 5rem;
}

.products__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.products__container img {
  width: 220px;
  height: 220px;
}

.product__card {
  /* background: rgb(232, 226, 226); */
  padding: 8px;
  margin: 0.5rem;
}

.product__image-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.product__card{
  text-decoration: none;
  color:black;
}

.product__details{
  padding:15px;
}
