@media (min-width: 750px) {
  .big-air-container {
    display: flex;
  }

  .air-purifier {
    display: flex;
    background-color: grey;
  }

  .image-container {
    width: 50%;
  }

  .air-purifier-text {
    width: 50%;
  }

  .air-purifier img {
    width: 100%;
    height: 100%;
  }

  .quote{
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .big-sound-container{
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.big-air-container {
  display: flex;
}

.air-purifier {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.air-purifier img {
  height: 100%;
  width: 100%;
}

.air-purifier-text {
  background-color: rgb(66, 66, 66);
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

.air-purifier-text h2 {
  color: white;
  font-size: 32px;
  font-family: Tofino;
  margin-left: 20px;
  margin-bottom: 20px;
}

.air-purifier-text p {
  font: 16px Tofino, sans-serif;
  color: white;
  margin-left: 20px;
}

.button {
  height: 30px;
  width: 200px;
  font: 16px Tofino, sans-serif;
  border-radius: 15px;
  color: rgb(66, 66, 66);
  background-color: white;
  font-weight: 700;
  border: solid 1px;
}

.air-purifier-text h3 {
  display: flex;
  align-self: flex-start;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
  animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    -webkit-filter: blur(12px);
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

.quote h1 {
  font: 24px "Times New Roman";
}

.quote-link {
  text-decoration: underline green;
  color: black;
  font-family: "Times New Roman", serif;
}

.quote {
  padding: 50px;
}

.scroll-box {
  padding: 20px;
  display: flex;
  overflow-x: scroll;
  scroll-padding: 0 50%;
  scroll-snap-type: x mandatory;
  margin-bottom: 50px;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}

.scroll-child h3 {
  font: 25px Tofino;
}

.scroll-child {
  scroll-snap-align: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100%;
  margin-left: 50%;
}

.scroll-box img {
  height: 30px;
  width: 30px;
  margin-bottom: 10px;
}

.scroll-box button {
  height: 30px;
  width: 200px;
  background-color: white;
  font: 16px Tofino, sans-serif;
  font-weight: 500;
  border-radius: 15px;
  margin-top: 10px;
}

.speaker-box {
  padding: 20px;
  display: flex;
  overflow-x: scroll;
  scroll-padding: 0 50%;
  scroll-snap-type: x mandatory;
  margin-bottom: 50px;
  border-top: solid 1px grey;
  border-bottom: solid 1px grey;
}

.speaker-child {
  scroll-snap-align: center;
  flex: 0 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 100%;
  margin-left: 50%;
}

.big-sound-container {
  display: flex;
}

.sound-focus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sound-focus img {
  height: 100%;
  width: 100%;
}

.sound-focus-text {
  background-color: #753500;
  display: flex;
  flex-direction: column;
  padding: 30px;
  align-items: center;
}

.sound-focus-text h2 {
  color: white;
  font-size: 32px;
  font-family: Tofino;
  margin-left: 20px;
  margin-bottom: 20px;
}

.sound-focus-text p {
  font: 16px Tofino, sans-serif;
  color: white;
  margin-left: 20px;
}

.sound-button {
  height: 30px;
  width: 200px;
  font: 16px Tofino, sans-serif;
  border-radius: 15px;
  color: #753500;
  background-color: white;
  font-weight: 700;
  border: solid 1px;
}

.sound-focus-text h3 {
  display: flex;
  align-self: flex-start;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
}
