
.single-product{
    padding-top:80px;
}

.product__image-container{
    padding:10px;
    display: flex;
    justify-content: center;
}

.product__details-container{
    padding:5px;
}

.product__price{
    color:rgb(10, 125, 10);
}

.product__details-head{
    padding:15px;
}

.product__details-details{
    padding:15px;
}

.product__button-container{
    display: flex;
    justify-content: center;
    padding: 1rem;
}

.addToCart {
    background-color: #4CAF50; 
    color: white; 
    padding: 12px 20px;
    border: none; 
    cursor: pointer; 
    width: 150px;
    transition: 0.3s;
}

.addToCart:hover {
    background-color: #3a863e;
    scale: 105%;
}

.buyNow {
    background-color: #0096c8;
    color: white; 
    padding: 12px 20px; 
    border: none; 
    cursor: pointer; 
    width: 150px; 
    transition: 0.3s;
}

.buyNow:hover {
    background-color: #036884;
    scale: 105%;
}

.product__desc-container{
    margin-top:1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.product__desc-image{
    display: flex;
    justify-content: center;
}

.product__desc-image img {
    width:90%;
    border-radius: 20px;
    margin-bottom: 1rem;;
}

.product__desc-desc{
    margin:15px;
}

.product__video-container h3{
    padding:15px;
}

.product__video{
    display: flex;
    justify-content: center;
}

.product__specifications-container {
    width: 90%;
    margin: auto;
    padding: 20px;
    margin-top:1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 10px;

  }
  
  .product__specifications-container table {
    width: 100%;
  }
  
  .product__specifications-container th,
  .product__specifications-container td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
  }
  
  .product__specifications-container th {
    background-color: #f2f2f2;
  }

  img{
    height:220px;
    width:220px;
}