.products {
  padding: 10px;
  background-color: white;
  padding-top: 20px;
  min-height:100vh;
}

.products__head {
  margin-bottom: 2rem;
}

.products__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sort-container {
  margin-bottom: 1rem;
}

.products__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.product {
  width: 100%;
}

.product__card {
  text-decoration: none;
  color: black;
  padding: 8px;
  margin: 0.5rem;
  width: 100%;
}

.product__images-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.allImages {
  width: 220px;
  height: 220px;
}

.product__details {
  padding: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination{
  display:flex;
  justify-content: center;
  align-items: center;
}

.pagination button{
  margin:5px;
  border-radius: 10px;
}

.button__next {
  background-color: #007bff; 
  color: #ffffff; 
  padding: 5px 10px;
  border: none; 
  border-radius: 5px;
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease;
}

.button_next:hover {
  background-color: #0056b3;
}

.button__prev {
  background-color: #007bff; 
  color: #ffffff;
  padding: 5px 10px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-size: 16px; 
  transition: background-color 0.3s ease;
}

.button_prev:hover {
  background-color: #0056b3;
}

/* Medium devices (tablets) */
@media(min-width: 470px) {
  .products__list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .product {
    width: calc(50% - 1rem);
  }
}

@media(min-width: 760px) {
  .product {
    width: calc(33% - 1rem);
  }

  .products__container img {
    width: 220px;
    height: 220px;
  }
}

/* Large devices (desktops) */
@media(min-width: 1024px) {
  .product {
    width: calc(25% - 1rem);
  }

  .products__container img {
    width: 220px;
    height: 220px;
  }
}

/* Extra large devices (large desktops) */
@media(min-width: 1200px) {
  .product {
    width: calc(20% - 1rem);
  }

  .products__container img {
    width: 220px;
    height: 220px;
  }
}

@media(min-width: 1500px) {
  .product {
    width: calc(16% - 1rem);
  }

  .products__container img {
    width: 220px;
    height: 220px;
  }
}
